<!-- THE GUESTBOOK PAGE, DISPLAYS THE TABLE -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> Guestbook </title>

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/css/guestbook.css">
    <!-- PureCSS -->
    <link rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css"
      integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls"
      crossorigin="anonymous">
    <!-- Bootstrap -->
    <link rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=Baloo+2&family=Fasthand&display=swap"
      rel="stylesheet">


    <!-- PORT -->
    <!-- <base href="http://localhost:5000/" /> -->

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <script></script>
  </head>
  <body>

    <div class="topnav">
      <a href="/" />Home</a>
      <a class="active" href="/guestbook" />Guestbook</a>
      <a href="/newmessage" />New Entry</a>
      <a href="/ajaxmessage" />Ajax</a>
    </div>
    <div id="paddingstuff">
      <h1 id="title" style="color:#416050;"> Guestbook </h1>
      <hr>
      <h2 style="color:#40413d; font-size: 20px;">View messages left by past
        visitors.</h2>
      <p id="alt-text">If you want to leave a message of your own, <br> you can
        find
        our message entry form in
        <a href="./newmessage" /> the New Entry page</a>.</p>
      
      <div id="table-div">
      <table class="pure-table pure-table-bordered" id="tablediv">
        <thead>
          <tr class="text-center" id="tr">
            <th>Username</th>
            <th>Country</th>
            <th>Date</th>
            <th>Message</th>
          </tr>
        </thead>
        <tbody id="tbody">
          <% for (let i= 0; i <data.length; i++) { %>
            <tr>
              <!-- <td><%=data[i].id %></td> -->
              <td><%=data[i].username %></td>
                <td><%=data[i].country %></td>
                  <td><%=data[i].date %></td>
                    <td style="font-style: italic;"><%=data[i].message %></td>
                    </tr>
                    <% } %>
      </tbody>
    </table>
    </div>
  </div>
  </div>
  </body>
</html>