<!-- THE GUESTBOOK PAGE, DISPLAYS THE TABLE -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> Guestbook </title>

    <!-- CSS -->
    <link rel="stylesheet" href="css/guestbook.css">
    <!-- PureCSS -->
    <link rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css"
      integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls"
      crossorigin="anonymous">

    <!-- PORT -->
    <base href="http://localhost:5000/" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>
  <body>
    <div class="topnav">
      <a href="/" />Home</a>
      <a class="active" href="/guestbook" />Guestbook</a>
      <a href="/newmessage" />New Entry</a>
      <a href="/ajaxpage" />Ajax</a>
    </div>
    <div style="padding-left:16px; padding-top:15px;">
      <h1> Guestbook </h1>
      <h2>View messages left by past visitors.</h2>
    </div>
    <table class="pure-table pure-table-bordered">
      <thead>
        <tr>
          <th>ID</th>
          <th>Username</th>
          <th>Country</th>
          <th>Date</th>
          <th>Message</th>
        </tr>
      </thead>
      <tbody>
        <% for (let i= 0; i <data.length; i++) { %>
          <tr>
            <td><%=data[i].id %></td>
              <td><%=data[i].username %></td>
                <td><%=data[i].country %></td>
                  <td><%=data[i].date %></td>
                    <td><%=data[i].message %></td>
                    </tr>
                    <% } %>
                    </tbody>
                  </table>
                </div>

    <div style="padding-left:16px; padding-top:15px;">
        <h3>Want to leave a message of your own to our guestbook?</h3>
        <p>You can find our message entry form in
        <a href="./newmessage" /> the New Entry page</a>.</p>
    </div>
  </body>
</html>